
<footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="fotTopLeft">
                <h3 class="fotContact">Связаться</h3>
                <div class="forContactsIcons">
                    <i class="fa-brands fa-telegram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
            <div class="fotTopRight">
                <h3 class="fotWhatch">Смотреть </h3>
                <div class="forContactsIcons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="footerMain">
            <h2 class="fotMainText">
                Поддержка на всех этапах
            </h2>
            <h3 class="forSomeText">
                Онлайн просмотр. Юридическое сопровождение. Счет в банке. Гражданство.
            </h3>
        </div>

    </div>

</footer>
<div class="footerBottom">
    <div class="container">
        <h3 class="fotBottomText">The Group of tigers ⓒ 2023 all rights reserved</h3>
    </div>
</div>
