<style>

    .footer {
        background: #37363E;
        padding: 40px 0;
        color: white;
    }

    .footerTop {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        text-align: center;
    }

    .fotTopLeft,
    .fotTopRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .forContactsIcons {
        display: flex;
        align-items: center;
        gap: 30px;
        color: white;
        font-size: 35px;
    }

    .footerMain {
        margin-top: 80px;

    }

    .fotMainText {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;

    }

    .forSomeText {
        margin-top: 40px;

        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;

    }

    .footerBottom {
        text-align: left;
        background: #313138;
        padding: 10px 0;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;

        color: rgba(135, 135, 136, 1);

    }
    .fotBottomText{
        text-align: center;
    }

</style>
<footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="fotTopLeft">
                <h3 class="fotContact">Связаться</h3>
                <div class="forContactsIcons">
                    <i class="fa-brands fa-telegram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
            <div class="fotTopRight">
                <h3 class="fotWhatch">Смотреть </h3>
                <div class="forContactsIcons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="footerMain">
            <h2 class="fotMainText">
                Поддержка на всех этапах
            </h2>
            <h3 class="forSomeText">
                Онлайн просмотр. Юридическое сопровождение. Счет в банке. Гражданство.
            </h3>
        </div>

    </div>

</footer>
<div class="footerBottom">
    <div class="container">
        <h3 class="fotBottomText">The Group of tigers ⓒ 2023 all rights reserved</h3>
    </div>
</div>
