{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/next.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    {% block extra_css %}

    {% endblock %}
    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <title>Villa Kadri</title>
</head>

<body>
{% block header %}
    {% include 'include/header.html' %}
{% endblock %}

<main class="main">
    {% block content %}

    {% endblock %}
</main>
{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css?_cacheOverride=1681288006895"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
<script>
    const select = document.querySelector('select[name="language"]');
    const form = select.closest('form');
    select.addEventListener('change', () => {
        form.querySelector('input[type="submit"]').click();
    });
</script>
<script>
    $(document).ready(function () {
        // Получаем текущий выбранный язык из localStorage, если он был сохранен ранее
        var selectedLang = localStorage.getItem('selectedLang');

        // Если выбранный язык сохранен в localStorage, то устанавливаем его
        if (selectedLang) {
            $('select[name="language"]').val(selectedLang);
            $('#flag').attr('src', getFlagSrc(selectedLang));
        }

        // Обработчик изменения выбранного языка
        $('select[name="language"]').change(function (event) {
            event.preventDefault();
            var lang = $(this).val();
            localStorage.setItem('selectedLang', lang); // Сохраняем выбранный язык в localStorage
            $('#flag').attr('src', getFlagSrc(lang));
        });

        // Функция для получения пути к изображению флага в зависимости от выбранного языка
        function getFlagSrc(lang) {
            switch (lang) {
                case "ru":
                    return "{% static 'img/flags/ru.svg' %}";
                case "en":
                    return "{% static 'img/flags/united-kingdom.png' %}";
                case "tr":
                    return "{% static 'img/flags/turkey.png' %}";
                case "ar":
                    return "{% static 'img/flags/united-arab-emirates.png' %}";
                case "de":
                    return "{% static 'img/flags/germany.png' %}";
            }
        }
    });

</script>
{% block extra_js %}

{% endblock %}


</body>

</html>