{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <style>
        .sec2 {
            background: white;
            padding: 50px 0 40px 0;
        }

        .sec2 {
            background: white;
            padding: 50px 0 40px 0;
        }

        .sec2Main {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 100px;
        }

        .sec2Left {
            text-align: left;
            width: 50%;
        }

        .aboutSec2 {

            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;

        }

        .sec2Content {
            width: 100%;
            margin-top: 50px;
        }

        .sec2Right {
            width: 50%;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 20px;
        }

        .sec2RightBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
        }

        .mainSec2Text {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0em;
            text-align: left;

        }

        .sec2SomeText {
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;

        }

        .sec4 {
            background-image: url("/static/img/main.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 80px 0;
            color: white;
        }

        .mainSec4Text {

            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;

        }

        .sec4Buttons {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .contactButton {
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;

            color: white;
            background: none;
            border: 1px solid white;
            padding: 10px 25px;
            margin-top: 40px;
        }


        .sec5 {
            padding: 30px 60px;
        }

        .sec5main {
            display: flex;
            justify-content: space-between;
        }

        .sec5Left {
            width: 50%;

        }

        .sec5MainText {

            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;

        }

        .otherText {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 20px;
        }

        .sec5Right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

        }

        .sec5Inp {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(135, 135, 135, 1);

            width: 100%;
            padding: 10px 0 10px 10px;
            border-radius: 5px;
        }

        .sec5Textarea {
            width: 100%;
            height: 100px;
            border-radius: 5px;
            padding: 10px 0 0 10px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(135, 135, 135, 1);
            max-width: 600px;
            max-height: 300px;
        }

        .agreeingBlock {
            display: flex;
            align-items: center;
            gap: 20px;

        }

        .sec5Link {
            color: black;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;

        }

        .agree {
            width: 40px;
            height: 40px;

        }

        .send {
            width: 100%;
            padding: 15px 0;
            border-radius: 5px;
            border: 2px solid black;
            background: none;
            margin-top: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;


        }

    </style>
    <style>


        @media (max-width: 1350px) {
            .container {
                max-width: 1000px;
            }

            .headerTop {
                padding: 30px 20px 20px 20px;

            }

            .headerTop a {
                font-size: 15px;
            }

            .pages {
                gap: 10px;

            }

            .search {
                max-width: 100px;
                font-size: 11px;

            }

            .swiper-slide img {
                width: 20%;
            }
        }

        @media (max-width: 1200px) {
            .container {
                max-width: 900px;
            }

            .headerTop a {
                font-size: 15px;
            }

            .swiper-slide img {
                width: 15%;
            }

            .logo {
                object-fit: cover;
                width: 200px;
            }

            .pages {
                gap: 35px;
            }

            .headerTop a {
                white-space: nowrap !important;
            }

            .headerTopElements {
                gap: 30px;
                justify-content: center;
            }
        }

        .Burger {
            display: none;
        }

        @media (max-width: 1050px) {
            .container {
                max-width: 800px;
            }

            /*.forTheme{*/
            /*    width: 100px;*/
            /*    height: 30px;*/
            /*}*/
            /*.forTheme:after,.forTheme:before{*/
            /*    width: 70px;*/
            /*    height: 30px;*/
            /*}*/
            .Burger {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                top: -25px;
                left: 20px;
                z-index: 10000;

            }

            .Burger.active {
                position: fixed;
                top: 35px;
                left: 30px;
            }

            .Burger span {
                position: absolute;
                background: white;
                left: 0;
                top: 9px;
                width: 100%;
                height: 2px;
                transition: .2s ease-in;
            }

            .Burger:before,
            .Burger:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                background: white;
                transition: .2s ease-in;
            }

            .Burger:before {
                top: 0;
            }

            .Burger:after {
                bottom: 0;
            }

            .Burger.active:before {
                rotate: 45deg;

                top: 9px
            }

            .Burger.active:after {
                rotate: -45deg;
                bottom: 9px;
            }

            .Burger.active span {
                scale: 0;
            }

            .pages .options {
                display: none;
            }

            .logo {
                width: 100%;
            }

            .headerTopElements {

                transition: .1s ease-in;


            }

            .headerTopElements.active {
                position: fixed;
                flex-direction: column-reverse;
                align-items: center;
                height: 500px;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 10000;

                background: rgba(55, 54, 62, 1);
            }

            .headerTop a {
                font-size: 18px;
            }

            .headerTopElements.active .pages {
                flex-direction: column;
                align-items: center;
            }

            .headerTopElements.active .pages .options {
                display: block;
            }

            .logo {

                width: 90%;
            }

            .headerTopElements.active .headerMain {
                margin-top: 350px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                left: 80% !important;
            }

            .swiper-button-prev {
                left: 70% !important;
            }
        }

        @media (max-width: 800px) {

            /*.SearchMain{*/
            /*    width: 300px;*/
            /*}*/
            .searchOptions {
                flex-wrap: wrap;
            }
        }

        @media (max-width: 630px) {
            .MainText {
                font-size: 60px;
            }

            .searchOptions {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                grid-row-gap: 10px;

            }

            .SearchMain {
                margin-left: 127%;
            }

            .sec1_main {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .hallmarks {
                gap: 10px;
                flex-direction: column;

            }

            .hallmark {
                font-size: 15px;
                white-space: nowrap;
            }

            .sec2Main {
                flex-direction: column-reverse;
                margin-top: 30px;
                align-items: center;
                gap: 0;
            }

            .sec2Content {
                width: 100%;
                margin-right: 50px;
            }

            .sec5main {
                flex-direction: column;
            }

            .sec5Inp,
            .sec5Textarea,
            .agreeingBlock {
                width: 200%;
                margin-left: 190px;

            }

            .send {
                margin-left: 170px;
            }

            .sec5Right {
                margin-top: 30px;
            }

            .swiper-button-prev {
                left: 65% !important;
            }

            .Burger {
                top: -30px;
                left: 90%;
            }
        }

        @media (max-width: 450px) {
            .MainText {
                font-size: 40px;
                line-height: 40px;
            }

            .SearchMain {
                margin-left: 115%;
            }

            .sec5Right {
                margin-left: -40px;
            }

            .sec4Buttons {
                flex-direction: column;
            }

            .swiper-slide img {
                width: 10%;
            }

            .swiper-button-prev {
                left: 60% !important;
            }

            .sec2Right {
                gap: 0;
            }

            .mainSec2Text {
                font-size: 25px;
            }
        }
    </style>
    <div class="sale" id="sale">
        <div class="container">
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card">
                        <div class="slider owl-carousel" id="slider{{ product.id }}">
                            {% if product.images.all %}
                                {% for image in product.images.all %}
                                    <div>
                                        <img src="{{ image.image.url }}" alt="Product 1" class="image" width="350"
                                             height="290">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="carousel-nav">
                            <button class="carousel-prev" data-slider="slider{{ product.id }}"><i
                                    class="fa fa-angle-left"></i>
                            </button>
                            <button class="carousel-next" data-slider="slider{{ product.id }}"><i
                                    class="fa fa-angle-right"></i>
                            </button>
                        </div>
                        <ul class="action_product">
                            <li class="id_product">
                                <span>ID&nbsp</span><br>
                                <span>{{ product.id }}</span>
                            </li>
                            <li>
                                <img src="{% static 'img/favorit.svg' %}" onclick="addFavorite({{ product.id }})"
                                     alt="love">
                            </li>
                            <li>
                                <img src="{% static 'img/like.svg' %}" onclick="addLike({{ product.id }})" alt="like">
                            </li>
                            <li>
                                <img src="{% static 'img/dislike.svg' %}" onclick="addDislike({{ product.id }})"
                                     alt="dislike">
                            </li>
                        </ul>
                        <div class="description_product">
                            <div class="description_list">
                                <div class="item-list">
                                    <div class="title-list">{{ product.title }}</div>
                                </div>
                                <div class="item-list">
                                    <div class="price-item">
                                        <ul>
                                            <li>
                                                {% trans 'Цена' %}
                                            </li>
                                            <li>{% trans 'от' %} {{ product.price }} USD</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div class="square-item">
                                        <ul>
                                            <li>{% trans 'Площадь' %}</li>
                                            <li>{{ product.square }} {% trans 'кв.м' %}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div class="rooms-list">
                                        <ul>
                                            <li>{% trans 'Комнаты' %}</li>
                                            <li>
                                                <ul>
                                                    {% for room in product.rooms.all %}
                                                        <li>{{ room }}{% if not forloop.last %}, {% endif %}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-more">{% trans 'Подробнее' %}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div style="display: flex;justify-content: center; align-items: center; visibility: hidden;">
            <div class="more">
                <button type="button">
                    {% trans 'Показать еще' %}
                </button>
            </div>
        </div>
    </div>
    <section class="sec2">
        <div class="container">
            <h2 class="aboutSec2">Кратко об Анталии... </h2>
            <div class="sec2Main">


                <div class="sec2Left">

                    <img src="{% static 'img/main.jpg' %}" alt="" class="sec2Content">
                </div>
                <div class="sec2Right">
                    <div class="sec2RightBlock"><h1 class="mainSec2Text">300</h1><h4 class="sec2SomeText">солнечных дней
                        в году</h4></div>
                    <div class="sec2RightBlock"><h1 class="mainSec2Text">13,5 млн</h1><h4 class="sec2SomeText">туристов
                        за 2022 год</h4></div>
                    <div class="sec2RightBlock"><img src="{% static 'img/passport.svg' %}" alt=""
                                                     class="sec2RightBlockPicture"><h4 class="sec2SomeText">Возможность
                        получения ВНЖ и Гражданства</h4></div>
                    <div class="sec2RightBlock"><img src="{% static 'img/health.svg' %}" alt=""
                                                     class="sec2RightBlockPicture"><h4 class="sec2SomeText">Развитая
                        система здравоохранения</h4></div>
                    <div class="sec2RightBlock"><img src="{% static 'img/build.svg' %}" alt=""
                                                     class="sec2RightBlockPicture"><h4 class="sec2SomeText">Насыщенная
                        культура и история</h4></div>
                    <div class="sec2RightBlock"><img src="{% static 'img/shoping.svg' %}" alt=""
                                                     class="sec2RightBlockPicture"><h4 class="sec2SomeText">Прекрасные
                        возможности для шопинга</h4></div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec4">
        <div class="container">
            <h2 class="mainSec4Text">Инвестировать в недвижимость</h2>
            <div class="sec4Buttons">
                <button class="contactButton">WHATSAAPP</button>
                <button class="contactButton">TELEGRAMM</button>
            </div>
        </div>
    </section>
{% endblock %}