{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="sale" id="sale">
        <div class="container">
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card">
                        <div class="slider owl-carousel" id="slider{{ product.id }}">
                            {% if product.images.all %}
                                {% for image in product.images.all %}
                                    <div>
                                        <img src="{{ image.image.url }}" alt="Product 1" class="image" width="350"
                                             height="290">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="carousel-nav">
                            <button class="carousel-prev" data-slider="slider{{ product.id }}"><i
                                    class="fa fa-angle-left"></i>
                            </button>
                            <button class="carousel-next" data-slider="slider{{ product.id }}"><i
                                    class="fa fa-angle-right"></i>
                            </button>
                        </div>


                        <ul class="action_product">
                            <li class="id_product">
                                <span>ID&nbsp</span><br>
                                <span>{{ product.id }}</span>
                            </li>
                            <li>
                                <img src="{% static 'img/favorit.svg' %}" onclick="addFavorite({{ product.id }})"
                                     alt="love">
                            </li>
                            <li>
                                <img src="{% static 'img/like.svg' %}" onclick="addLike({{ product.id }})" alt="like">
                            </li>
                            <li>
                                <img src="{% static 'img/dislike.svg' %}" onclick="addDislike({{ product.id }})"
                                     alt="dislike">
                            </li>
                        </ul>
                        <div class="description_product">
                            <div class="description_list">
                                <div class="item-list">
                                    <div class="title-list">Квартиры с концепцией отеля</div>
                                </div>
                                <div class="item-list">
                                    <div class="price-item">
                                        <ul>
                                            <li>
                                                Цена
                                            </li>
                                            <li>от {{ product.price }} USD</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div class="square-item">
                                        <ul>
                                            <li>Площадь</li>
                                            <li>{{ product.square }} кв.м</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-list">
                                    <div class="rooms-list">
                                        <ul>
                                            <li>Комнаты</li>
                                            <li>
                                                <ul>
                                                    {% for room in product.rooms.all %}
                                                        <li>{{ room }}{% if not forloop.last %}, {% endif %}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn-more">Подробнее</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div style="display: flex;justify-content: center; align-items: center; visibility: hidden;">
            <div class="more">
                <button type="button">
                    Показать еще
                </button>
            </div>
        </div>
    </div>
{% endblock %}