/* header and intro */
header {
    background-image: url("/static/img/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 200px;
    color: white;
    height: 100vh;
}

.headerTop {

    padding: 30px 100px 20px 100px;

    background: rgba(0, 0, 0, 0.25);

}

.headerTopElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
}

.options {
    list-style: none;
    color: white;
}

a:not(.sec5Link) {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.langOptions {
    display: flex;
    align-items: center;
    gap: 10px;
}

select option {
    background: transparent;
}

.select:active {
    border: none;
}

.select {
    background: transparent;
    color: white;
    border: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}


.headerMain {
    padding-top: 200px;
}

.MainText {
    margin-bottom: 30px;
}

.contactWithUs {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

/* end header and intro*/

/* content */
.sec2 {
    background: white;
    padding: 50px 0 40px 0;
}

.sec2 {
    background: white;
    padding: 50px 0 40px 0;
}

.sec2Main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 100px;
}

.sec2Left {
    text-align: left;
    width: 50%;
}

.aboutSec2 {

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.sec2Content {
    width: 100%;
    margin-top: 50px;
}

.sec2Right {
    width: 50%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

.sec2RightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.mainSec2Text {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

}

.sec2SomeText {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.sec4 {
    background-image: url("/static/img/investing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    color: white;
}

.mainSec4Text {

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.sec4Buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contactButton {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

    color: white;
    background: none;
    border: 1px solid white;
    padding: 10px 25px;
    margin-top: 40px;
}


.sec5 {
    padding: 30px 60px;
}

.sec5main {
    display: flex;
    justify-content: space-between;
}

.sec5Left {
    width: 50%;

}

.sec5MainText {

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.otherText {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
}

.sec5Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.sec5Inp {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(135, 135, 135, 1);

    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}

.sec5Textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px 0 0 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(135, 135, 135, 1);
    max-width: 600px;
    max-height: 300px;
}

.agreeingBlock {
    display: flex;
    align-items: center;
    gap: 20px;

}

.sec5Link {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.agree {
    width: 40px;
    height: 40px;

}

.send {
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: 2px solid black;
    background: none;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;


}

/* end content*/

/* footer */
.footer {
    background: #37363E;
    padding: 40px 0;
    color: white;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-align: center;
}

.fotTopLeft,
.fotTopRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.forContactsIcons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 35px;
}

.footerMain {
    margin-top: 80px;

}

.fotMainText {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

}

.forSomeText {
    margin-top: 40px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.footerBottom {
    text-align: left;
    background: #313138;
    padding: 10px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;

    color: rgba(135, 135, 136, 1);

}

.fotBottomText {
    text-align: center;
}

/* end footer*/

/* media */
@media (max-width: 1350px) {
    .container {
        max-width: 1000px;
    }

    .headerTop {
        padding: 30px 20px 20px 20px;

    }

    .headerTop a {
        font-size: 15px;
    }

    .pages {
        gap: 10px;

    }

    .search {
        max-width: 100px;
        font-size: 11px;

    }

    .swiper-slide img {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .headerTop a {
        font-size: 15px;
    }

    .swiper-slide img {
        width: 15%;
    }

    .logo {
        object-fit: cover;
        width: 200px;
    }

    .pages {
        gap: 35px;
    }

    .headerTop a {
        white-space: nowrap !important;
    }

    .headerTopElements {
        gap: 30px;
        justify-content: center;
    }
}

.Burger {
    display: none;
}

@media (max-width: 1050px) {
    .container {
        max-width: 800px;
    }

    /*.forTheme{*/
    /*    width: 100px;*/
    /*    height: 30px;*/
    /*}*/
    /*.forTheme:after,.forTheme:before{*/
    /*    width: 70px;*/
    /*    height: 30px;*/
    /*}*/
    .Burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: -25px;
        left: 20px;
        z-index: 10000;

    }

    .Burger.active {
        position: fixed;
        top: 35px;
        left: 30px;
    }

    .Burger span {
        position: absolute;
        background: white;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        transition: .2s ease-in;
    }

    .Burger:before,
    .Burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: white;
        transition: .2s ease-in;
    }

    .Burger:before {
        top: 0;
    }

    .Burger:after {
        bottom: 0;
    }

    .Burger.active:before {
        rotate: 45deg;

        top: 9px
    }

    .Burger.active:after {
        rotate: -45deg;
        bottom: 9px;
    }

    .Burger.active span {
        scale: 0;
    }

    .pages .options {
        display: none;
    }

    .logo {
        width: 100%;
    }

    .headerTopElements {

        transition: .1s ease-in;


    }

    .headerTopElements.active {
        position: fixed;
        flex-direction: column-reverse;
        align-items: center;
        height: 500px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10000;

        background: rgba(55, 54, 62, 1);
    }

    .headerTop a {
        font-size: 18px;
    }

    .headerTopElements.active .pages {
        flex-direction: column;
        align-items: center;
    }

    .headerTopElements.active .pages .options {
        display: block;
    }

    .logo {

        width: 90%;
    }

    .headerTopElements.active .headerMain {
        margin-top: 350px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        left: 80% !important;
    }

    .swiper-button-prev {
        left: 70% !important;
    }
}

@media (max-width: 800px) {

    /*.SearchMain{*/
    /*    width: 300px;*/
    /*}*/
    .searchOptions {
        flex-wrap: wrap;
    }
}

@media (max-width: 630px) {
    .MainText {
        font-size: 60px;
    }

    .searchOptions {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        grid-row-gap: 10px;

    }

    .SearchMain {
        margin-left: 127%;
    }

    .sec1_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hallmarks {
        gap: 10px;
        flex-direction: column;

    }

    .hallmark {
        font-size: 15px;
        white-space: nowrap;
    }

    .sec2Main {
        flex-direction: column-reverse;
        margin-top: 30px;
        align-items: center;
        gap: 0;
    }

    .sec2Content {
        width: 100%;
        margin-right: 50px;
    }

    .sec5main {
        flex-direction: column;
    }

    .sec5Inp,
    .sec5Textarea,
    .agreeingBlock {
        width: 200%;
        margin-left: 190px;

    }

    .send {
        margin-left: 170px;
    }

    .sec5Right {
        margin-top: 30px;
    }

    .swiper-button-prev {
        left: 65% !important;
    }

    .Burger {
        top: -30px;
        left: 90%;
    }
}

@media (max-width: 450px) {
    .MainText {
        font-size: 40px;
        line-height: 40px;
    }

    .SearchMain {
        margin-left: 115%;
    }

    .sec5Right {
        margin-left: -40px;
    }

    .sec4Buttons {
        flex-direction: column;
    }

    .swiper-slide img {
        width: 10%;
    }

    .swiper-button-prev {
        left: 60% !important;
    }

    .sec2Right {
        gap: 0;
    }

    .mainSec2Text {
        font-size: 25px;
    }
}

/* end media*/